body {
  margin: 0;
  padding: 0;
  color: black;
  font: 20px;
  line-height: 2.5;
  font-family: "Consolas";
  background-color: white;
}
.mainbody{
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  margin-top: 50px;
  background-color: rgb(235,235,235);
}

.backimg {
  display:block;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  height: 250px;
  width: 100%;
  overflow: hidden;
}
.imageStyle{
  filter:blur(1px);
  margin:0px;
  padding:0px;
  transform: scale(1);
  margin-top: -700px;  
}

.links{
  display: flex;
  margin-left: 350px;
  margin-top:20px;
  padding: 0;
  flex-grow: 2;
  height: 600px;
  flex-direction: row;
}

.linkssocial {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100px;
  margin: 0;
  padding: 0;
}
.fillermiddle{
  display: flex;
  flex-grow: 4;
  width: 300px;
}
.linksproducts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100px;
  margin: 0;
  padding: 0;
}

.footer{
  margin: 0;
  padding: 0;
  flex-grow: 1;
  height: 80px;
  overflow: hidden;
}

a{
  color: black;
  border: none;
  outline: none;
  text-decoration: none;
}
a:hover{
  border-bottom: 1px solid black;
}